@media screen and (orientation : landscape)
  body
    header
      height: 90vh
      position: relative
      &::after
        position: absolute
        bottom: -10vh
        left: 0
        right: 0
        height: 10vh
        background: lighten($accent0, 50%)

      section:nth-child(2)
        h2
          font-size: 10vh
          max-width: 80%
