@media all and (orientation : landscape)

  .re-flex
    display: flex

  body
    height: 200vh

    header
      height: 100vh
      position: relative

      &::before
        position: absolute
        height: $ratio2-large * 100.3%
        bottom: 0

      &::after
        content: "skroluj!"
        position: absolute
        bottom: 0
        right: 0
        height: 10vh
        width: 20%
        background: #000

      section
        h2
          font-size: 8vh
          max-width: 60%

    main
      section
        @extend .re-flex
        padding: 0 20%

    footer
      @extend .re-flex
      background: lighten(black, 10%)
      z-index: 9
