@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext"
@import variables
@import resocialize_css
@import boxxy

body
  background: darken($color, 5%)

  header
    @extend .flex, .column
    height: $golden-large * 100vh

    h1
      z-index: 8889
      position: fixed
      top: 3.5vh
      left: 12vh

    figure
      @extend .circle
      background: $color url('../gx/catsnake.svg') no-repeat
      background-size: 80%
      background-position: center
      position: fixed
      top: 0
      left: 0
      height: 8vh
      width: 8vh
      top: 2vh
      left: 2vh
      z-index: 8889

      &:hover
        background: darken($color, 30%) url('../gx/catsnake.svg') no-repeat
        background-size: 80%
        background-position: center

    nav
      background: $accent0
      height: $ratio2-small * 100vh
      position: fixed
      width: 100%
      z-index: 8888

      ul
        @extend .flex
        width: 80%
        position: relative
        right: -20%

        li
          height: 12vh
          width: 100%

          a
            @extend .flex, .center
            background: $color1
            width: 100%

            &:hover
              background: $black2

    section
      @extend .center
      background: url('../gx/unnamed.jpg')
      background-size: cover
      position: fixed
      left: 0
      right: 0

      h2
        @extend .flex, .center, .no-select
        height: 100%
        font-weight: 300
        font-size: 8vw
        max-width: 80%
        text-shadow: 0 0 100px 0 $color1, 0 0 200px 0 $color1, 0 0 300px 0 $color1
        @media all and (orientation : portrait)
          top: -14vh

      address
        @extend .flex
        justify-content: center
        position: absolute
        bottom: $golden-small * 100vh
        left: 0
        right: 0

        a
          @extend .center, .circle
          height: 16vh
          width: 16vh
          padding: 2vh
          background: $red
          z-index: 3


        a[href^="tel"]
          box-shadow: 0 0 300px 0 $color1, 0 0 300px 0 $color1, 0 0 300px 0 $color1
          top: -2vh
          z-index: 3

          &:hover, &:active
            background: $red2

        a[href^="mailto"]
          background: $wetgreen
          width: 8vh
          height: 8vh
          top: 2vh
          z-index: 4


          &:hover, &:active
            background: $wetgreen2

        a[href^="dunno"]
          background: $purple
          width: 8vh
          height: 8vh
          top: 2vh
          z-index: 4

          &:hover, &:active
            background: $purle2


  main
    background: darken($color, 10%)
    z-index: 4
    *, *:active
      color: $black
    section
      h3, h4
        padding: 8% 4% 4% 4%
        font-size: 200%
        font-weight: 300
      p
        padding: 4%
      aside
        background: darken($color, 20%)
        p
          padding: 4%

  footer
    background: $black
    padding: 4%


@import rwd
@import locomotion_apparatus
