@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext"
@import variables
@import resocialize
@import boxxy
@import locomotionapparatus

body
  background: darken($color, 5%)

  header
    @extend .flex, .column
    background: $accent0
    height: $golden-large * 100vh

    &::before
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: $ratio2-large * 100.2%
      background: url(../gx/noise.png)
      z-index: 1

    section:nth-child(1)
      background: lighten($accent0, 5%)
      height: $ratio2-small * 100vh



      nav
        ul
          @extend .flex

    section:nth-child(2)
      @extend .center
      background: url(../gx/unnamed.jpg)
      background-size: cover

      h2
        font-weight: 300
        font-size: 10vw
        z-index: 2

      address
        z-index: 2
        a
          @extend .center
          height: 20vh
          width: 20vh
          padding: 2vh
          background: $accent1
          border-radius: 50%

          &:hover
            background: darken($accent1, 5%)
@import rwd
