//_ variables.sass

// typo
$font: 'Open Sans', Arial, Helvetica sans-serif

// dunno
$alot: 80%

// ratios
$golden-small: 0.382
$golden-large: 0.618

$ratio-small: 0.384
$ratio-large: 0.618

$ratio2-small: 0.12
$ratio2-large: 0.88

// color scheme

$color: #fff
$color1: #000
$global-font-color: #fff
$accent0: #1d4649
$accent1: #be362f
$bl: rgba(0,0,0,0.3)
